/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Music Template 
http://www.templatemo.com/preview/templatemo_047_music 
*/
body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background: #f2f2f2;
}

h1 {
	margin: 0 0 25px 0;
	padding: 10px 0 10px 15px;
	font-size: 20px;
	font-weight: bold;
	color: #ffc601;
	background: #000000;
	border-bottom: 1px solid #b4a08a;
}

h2 {
	width: 235px;
	height: 25px;
	padding: 15px 0 0 35px;
	margin: 0 0 25px -10px;
	font-size: 16px;
	color: #6c5b4c;
	background: url(images/left_heading_background.gif) no-repeat;
}

h3 {
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
	color: #ffc601;	
}

h4 {
	margin: 0 0 5px 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	color: #999999;	
}

.rantsection {
	height: 13px;
	margin-bottom: 10px;
}

.rantsection img {
	float: left;
	height: 13px;
	width: 13px;
	border: 0px;
	margin-right: 5px;
}

a:link, a:visited { color: #999999; text-decoration: none;} 
a:active, a:hover { color: #999999; text-decoration: underline;}

.more_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 60px;
	padding: 1px 0;
	margin-bottom: 5px; 
	background: #6c5b4c;
	border-bottom: 1px solid #a59180;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.download_button a{
	float: right;
	text-align: center;
	width: 65px;
	padding: 1px 0;
	background: #6c5b4c;
	border-bottom: 1px solid #a59180;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

img {
	border: 1px solid #6c5b4c;
}


/* ----- Form ----- */
.form_row{
	margin-bottom: 3px;
}

form{
	margin: 0;
	padding: 0;
	text-align: right;	
}

#connexion form{
 text-align: center;
}

label {
	margin-right: 10px;
}

input{
	width: 130px;
	height: 18px;
	padding: 1px 0;
	line-height: normal;
	color: #99836c;
	border: 1px solid #99836c;
	background: #e5e5e5;
}
select{
	color: #99836c;
}

.button{
	width: 60px;
	line-height: normal;
	margin: 0;
	height: 23px;
}
/* End of Form */

.tab_table {
	margin:0px;
	padding:0px;
	width:100%;
	border:1px solid #000000;
	
}
.tab_table table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tab_table td{
	vertical-align:middle;
	background-color:white;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

#templatemo_container {
	margin: 0px auto;
	width: 970px;
	background: url(images/main_background.gif) repeat-y;
}

/*------------ Header --------------- */

#templatemo_header {
	float: left;
	width: 900px;
	padding: 0 35px;
	margin: 15px 0 10px 0;
}

#templatemo_title {
	float: left;
	width: 300px;
}

#templatemo_sitetitle {
	padding: 30px 0 10px 0;
	font-size: 4.0em;
	font-weight: bold;
	color: #FF9933;
}
#templatemo_sitetitle span{
	font-weight: normal;
	color: #FFFFFF;
}

#templatemo_login {
	float: right;
	width: 300px;
	margin-top: 5px;
}
/* -------------- End of Header------------------ */

/* --------- Banner ---------- */
#templatemo_banner {
	clear: both;
	width: 970px;
	height: 256px;
	background: url(images/banner.jpg) no-repeat;
}

#templatemo_banner_text {
	padding: 60px 0 0 225px;
	width: 550px;
}

#banner_title{
	margin: 0 0 25px 0;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	color: #ffc601;
}

#templatemo_banner_text p{
	margin: 0 0 25px 0;
	padding: 0;
}

/* --------- End of Banner ---------- */

/*--- Menu ---*/
#templatemo_menu{
	float: left;
	width: 970px;
	height: 51px;
	background: url(images/menu_background.gif) no-repeat;
}

#templatemo_menu ul {
	float: left;
	margin: 0;
	padding: 10px 0 0 40px;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	width: 140px;
	height: 20px;
	margin-top: 10px;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

#templatemo_menu ul li .lastmenu{
	border-right: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFCC33;
}
/*--- End of Menu ---*/

/*--- Content ---*/
#templatemo_content {
	float: left;
	margin: 0;
	padding: 0 10px;
	width: 950px;
}

/*--- Left Column---*/
#templatemo_left_column {
	float: left;
	margin: 20px 10px 0 0;
	padding: 0px;
	width: 235px;
}

.left_col_box {
	margin: 0 0 25px 25px;
	color: #AAA;	
}

.blog_box {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #220404;
}

.blog_box h3 a{
	font-size: 12px;
	color: #d3a401;	
	
}

.blog_box span{
	color: #99836c;
}
/*--- End of Left Column---*/

/*--- Right Column---*/
#templatemo_right_column {
	float: right;
	margin: 25px 25px 0 0;
	padding: 0;
	width: 650px;
}

.templatemo_right_panel_fullwidth {
	float: left;
	width: 650px;
	padding: 0 0 25px 0;
}

.templatemo_right_panel_fullwidth img{
	float: left;
	margin: 3px 10px 0 0;
}

.templatemo_right_panel_fullwidth_content {
	float: left;
	width: 620px;
	padding: 0 15px 25px 15px;
}

.templatemo_right_panel_fullwidth_content p{
	text-align: justify;
}

#new_released_section {
	float: left;
	width: 650px;
	margin: 0 0 30px 0;
}

.new_released_box {
	float: left;
	width: 180px;
	margin: 0 10px 0 15px;	
}

.new_released_box img{
	margin-bottom: 5px;
}

#news_section {
	float: left;
	width: 310px;
	margin: 0 25px 0 0;
}

.news_box {
	float: left;
	width: 280px;
	margin: 0 15px 25px 15px;
}

.news_box img{
	float: left;
	width: 110px;
	margin: 3px 10px 0 0;
	border: 1px solid #333333;
}

.news_box p{
	margin: 0;
	padding: 0;
}

#topdownload_section {
	float: right;
	width: 300px;
	padding: 0;
	margin: 0;
	background: #99836c;
}

.topdownload_box {
	float: left;
	width: 270px;
	padding-bottom: 5px;
	margin: 0 15px 10px 15px;
	color: #24211d;
	font-weight: bold;
	border-bottom: 1px solid #6b5946;
	
}

* html .topdownload_box {
	margin: 0 15px 10px 7px;
}

.topdownload_box span{
	font-weight: normal;
}

.title_singer{
	float: left;
	width: 200px;
}
/*--- End of Right Column---*/
/*--- End of Content ---*/

/* ----- Footer ----- */
#templatemo_footer {
	clear: both;
	padding: 15px 0;
	width: 950px;
	margin: 0 10px;
	text-align: center;
	color: #000000;
	background: #6c5b4c;
	text-align: center;
}

#templatemo_footer a{
	color: #000000;
}

#templatemo_footer a:hover{
	color: #cccc66;
}
/* ----- End of Footer ----- */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}

.glyphicon-subtitles:before {
  content: "\e188";
}

.glyphicon-sound-stereo:before {
  content: "\e189";
}

.glyphicon-sound-dolby:before {
  content: "\e190";
}

.glyphicon-sound-5-1:before {
  content: "\e191";
}

.glyphicon-sound-6-1:before {
  content: "\e192";
}

.glyphicon-sound-7-1:before {
  content: "\e193";
}

.glyphicon-copyright-mark:before {
  content: "\e194";
}

.glyphicon-registration-mark:before {
  content: "\e195";
}

.glyphicon-cloud-download:before {
  content: "\e197";
}

.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}