{# src/OC/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for tablature in listTablature %}
    <li>
      <a href="{{ path('tablature_view', {'id': tablature.id}) }}">
        {{ tablature.title }}
      </a>
    </li>
  {% endfor %}
</ul>