

<form id="templatemo_login" action="{{ path("research") }}" method="POST">
    
    <input type="text" id="keyword" name="keyword"  />
    <input class="button" type="submit" id="search" name="search" value="Search" />
</form>

